This part set up database with differents tables. It load data(the scale of data have to do manually and place into data folder)

In [ ]:
#VARIABLES to set up
SF = 1 # SETUP the name of the file where result will be write

In [ ]:
#import
import os
import time
from pyspark.sql import SparkSession
import glob

# Initialize SparkSession
spark = SparkSession.builder.appName("TPC-DS Data Loading").config("spark.sql.catalogImplementation", "hive").getOrCreate()

In [ ]:
#create all tables
with open(os.getcwd() + "/ddl/Create_database.sql", 'r') as file: # path/to/tpcds.sql
    db_string = file.read()

db_string = str.split(db_string, ";")
db_string = db_string[:-1]

for string in db_string:
    if string != '\n' or string != '':
        spark.sql(string)

In [ ]:
#load datas into tables
data_file = glob.glob(os.getcwd() + "/data/*")
for i in data_file:
    table_name = i.split("/")[-1].split(".")[0]
    if table_name != "dbgen_version":
        sql_command = "select * from " + table_name
        tmp=spark.sql(sql_command)
        #print(tmp)
        df = spark.read.schema(tmp.schema).csv( i, sep='|')
        df.write.mode("append").insertInto(table_name)
        print("Data from table " + table_name + " is inserted")

In [ ]:
#run queries
queries_files = glob.glob(os.getcwd() + "/Queries/Q*")
print(queries_files)
for i in queries_files:
    with open( i , 'r') as file:
        db_string = file.read()
    db_string = str.split(db_string, ";")[:-1]
    #start time
    i = 0
    for j in db_string:
        try:
            i+=1
            spark.sql(j)
        except:
            print( str(i) + " doesn't work")
    #end time

In [16]:
#run queries

SF = 1 # SETUP the scale of data !!!
queries_files = glob.glob(os.getcwd() + "/Queries/consulta*")
j = 0
time1=[-1 for i in range(103)]
time2=[-1 for i in range(103)]
time3=[-1 for i in range(103)]
time4=[-1 for i in range(103)]
time5=[-1 for i in range(103)]

for i in queries_files:
    with open( i , 'r') as file:
        db_string = file.read()
    #start time
    number_queries = int(i.split("consulta")[-1].split(".")[0])
    try:
        j+=1
        exec_start = time.time()
        spark.sql(db_string)
        exec_end = time.time()
        time1[number_queries-1] = exec_end- exec_start
        exec_start = time.time()
        spark.sql(db_string)
        exec_end = time.time()
        time2[number_queries-1] = exec_end- exec_start
        exec_start = time.time()
        spark.sql(db_string)
        exec_end = time.time()
        time3[number_queries-1] = exec_end- exec_start
        exec_start = time.time()
        spark.sql(db_string)
        exec_end = time.time()
        time4[number_queries-1] = exec_end- exec_start
        exec_start = time.time()
        spark.sql(db_string)
        exec_end = time.time()
        time5[number_queries-1] = exec_end- exec_start
    except:
        print(str(number_queries), " yes")

f = open("result/sf"+ str(SF) + ".csv", "w")
f.write(str(time1)+ '\n' + str(time2)+ '\n'+ str(time3)+ '\n'+ str(time4)+ '\n' + str(time5))
f.close()
    
    #end time

6  yes
72  yes
69  yes
95  yes
96  yes
70  yes
5  yes

In [7]:
queries_files = glob.glob(os.getcwd() + "/Queries/consulta*")
for i in queries_files:
    print(i.split("consulta")[-1].split(".")[0])

#for i in range(100)

91
6
30
45
1
37
15
35
13
7
36
43
20
66
88
86
21
17
73
98
65
63
41
12
31
57
60
72
44
10
67
83
90
26
76
79
2
99
29
93
87
53
59
71
18
48
49
28
22
89
23
64
33
9
62
16
94
51
69
85
8
101
77
95
39
102
56
61
75
11
81
42
96
78
80
82
84
55
50
103
100
47
3
68
52
32
58
27
24
97
38
4
14
34
54
25
70
19
5
46
74
40
92
[[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]